<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="com.cordova.plugin.BatteryInfoPlugin" version="0.0.1">

    <name>BatteryInfoPlugin</name>
    <description>An Android Cordova plugin</description>
    <keywords>cordova,android,toast,message,alert</keywords>
	
    <engines>
        <engine name="cordova-android" version=">=10.1.1" />
        <engine name="cordova-ios" version=">=5.1.1" />
    </engines>
	
    <js-module name="BatteryInfoPlugin" src="www/BatteryInfoPlugin.js">
    	<clobbers target="BatteryInfoPlugin" />
    </js-module>
  
    <platform name="android">	 		    
    	<source-file src="src/android/BatteryInfoPlugin.java" target-dir="src/com/cordova/plugin/BatteryInfoPlugin" />

	<config-file target="res/xml/config.xml" parent="/*">
		<feature name="BatteryInfoPlugin">
		    <param name="android-package" value="com.cordova.plugin.BatteryInfoPlugin"/>	
		</feature>
	</config-file>	
	   	   
    </platform>
</plugin>
